.card {

  * {
    transition: .5s all;
  }
  .output {
    height: 390px;

    img {
      width: 150px !important;
      height: 150px !important;
      margin-right: 20px;
    }

    #not-started {
      display: flex;
      height: 100%;
      max-height: 390px;
      flex-direction: row;
      justify-content: center;
      overflow: hidden;
      .centerer {
        display: flex;
        align-items: center;

      }
    }

    #thinking {
      display: flex;
      flex-direction: column;
      height: 100%;
      max-height: 0;
      overflow: hidden;
      .row {
        justify-content: center;
      }
    }
  }

  #predictions {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    max-height: 0;
    overflow: hidden;
    .centerer {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      .speech-bubble {
        height: fit-content;
        text-align: center;
        h2 {
          font-size: 18px;
          font-weight: bold;
        }
        span {
          display: block;
          font-size: 45px;
        }
      }
    }
    .button-container {
      text-align: right;
      button {
        margin-left: 20px;
      }
    }
  }

  #incorrect {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    max-height: 0;
    overflow: hidden;
    .centerer {
      display: flex;
      .speech-bubble {
      }
    }
    .btn-group {
      width: 100%;
      height: auto;
      display: block;
      text-align: center;
      button {
        border-radius: 5px !important;
        margin: 10px !important;
        font-size: 22px;
        width: 75px;
      }
    }
  }

  #improve {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    max-height: 0;
    overflow: hidden;
    .centerer {
      display: flex;
      .speech-bubble {
      }
    }
    .right {
      text-align: right;
    }
  }

  .speech-bubble {
    position: relative;
    padding: 20px;
    height: 100%;
    margin-left: 20px;
    background: #ececec;
    border-radius: .4em;
  }

  .speech-bubble:after {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    width: 0;
    height: 0;
    border: 24px solid transparent;
    border-right-color: #ececec;
    border-left: 0;
    border-bottom: 0;
    margin-top: -12px;
    margin-left: -24px;
  }

  .bubblingG {
    padding-top: 20px;
    text-align: center;
    width: 78px;
    height: 49px;
    margin: auto;
  }

  .bubblingG span {
    display: inline-block;
    vertical-align: middle;
    width: 10px;
    height: 10px;
    margin: 24px auto;
    background: rgb(0, 0, 0);
    border-radius: 49px;
    -o-border-radius: 49px;
    -ms-border-radius: 49px;
    -webkit-border-radius: 49px;
    -moz-border-radius: 49px;
    animation: bubblingG 1.5s infinite alternate;
    -o-animation: bubblingG 1.5s infinite alternate;
    -ms-animation: bubblingG 1.5s infinite alternate;
    -webkit-animation: bubblingG 1.5s infinite alternate;
    -moz-animation: bubblingG 1.5s infinite alternate;
  }

  #bubblingG_1 {
    animation-delay: 0s;
    -o-animation-delay: 0s;
    -ms-animation-delay: 0s;
    -webkit-animation-delay: 0s;
    -moz-animation-delay: 0s;
  }

  #bubblingG_2 {
    animation-delay: 0.45s;
    -o-animation-delay: 0.45s;
    -ms-animation-delay: 0.45s;
    -webkit-animation-delay: 0.45s;
    -moz-animation-delay: 0.45s;
  }

  #bubblingG_3 {
    animation-delay: 0.9s;
    -o-animation-delay: 0.9s;
    -ms-animation-delay: 0.9s;
    -webkit-animation-delay: 0.9s;
    -moz-animation-delay: 0.9s;
  }

  @keyframes bubblingG {
    0% {
      width: 10px;
      height: 10px;
      background-color: rgb(0, 0, 0);
      transform: translateY(0);
    }

    100% {
      width: 23px;
      height: 23px;
      background-color: rgb(255, 255, 255);
      transform: translateY(-20px);
    }
  }

  @-o-keyframes bubblingG {
    0% {
      width: 10px;
      height: 10px;
      background-color: rgb(0, 0, 0);
      -o-transform: translateY(0);
    }

    100% {
      width: 23px;
      height: 23px;
      background-color: rgb(255, 255, 255);
      -o-transform: translateY(-20px);
    }
  }

  @-ms-keyframes bubblingG {
    0% {
      width: 10px;
      height: 10px;
      background-color: rgb(0, 0, 0);
      -ms-transform: translateY(0);
    }

    100% {
      width: 23px;
      height: 23px;
      background-color: rgb(255, 255, 255);
      -ms-transform: translateY(-20px);
    }
  }

  @-webkit-keyframes bubblingG {
    0% {
      width: 10px;
      height: 10px;
      background-color: rgb(0, 0, 0);
      -webkit-transform: translateY(0);
    }

    100% {
      width: 23px;
      height: 23px;
      background-color: rgb(255, 255, 255);
      -webkit-transform: translateY(-20px);
    }
  }

  @-moz-keyframes bubblingG {
    0% {
      width: 10px;
      height: 10px;
      background-color: rgb(0, 0, 0);
      -moz-transform: translateY(0);
    }

    100% {
      width: 23px;
      height: 23px;
      background-color: rgb(255, 255, 255);
      -moz-transform: translateY(-20px);
    }
  }
}
